{% extends 'base.html.twig' %}

{% block title %}JuCoin Web - User page{% endblock %}

{% block body %}
    Welcome to JuCoin Web!<br><br>


    Your ID is <span class="fw-bold">{{ user.steamid }}</span><br>
    <span class="fw-bold">JuCoins:</span> {{ user.coins }}<br>
    <a href="{{ path('app_lotto') }}">Lotto</a> <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}
